.container {
  position:fixed;
  top:50px; 
  left: 0; 
  z-index: 100;
  background-color: var(--color-grey-400);
  width:100vw;
  height: 40px;
  display:flex;
  padding:0 1rem;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}


.responsive {
  position:fixed;
  /* top:50px;  */
  left: 0; 
  z-index: 100;
  background-color: var(--color-grey-400);
  width:100vw;
  height: 40vh;
  /* padding:0 1rem; */
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}


.show{
  display:flex;
}

 .ham{
  display:flex !important;
}
.responsiveHam{
  position:absolute;
  top:0;
  right:0;
  display:flex !important;
}

.sub_nav{
position: fixed !important;
z-index: 100000;
top:90px;
width:100vw;
height: 100vh;
background:rgb(97, 96, 96);
display:flex;
flex-direction: column;
}

.sub_nav_close{
 width:100vw; 
 display: none;  
}

.ul{
  width:100vw;
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
  flex-wrap: nowrap; 
  overflow-x: auto;
  list-style: none;
}

.responsiveUl{
  width:100vw;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  flex-wrap: nowrap; 
  overflow-y: scroll;
  list-style: none;
    transition: .45s cubic-bezier(.45,.45,.37,1.36);
}
.responsiveLi{
  width: 100vw;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:1rem;
  border-bottom:1px solid black; ;
}

.lists{
   display:flex;
   flex-direction:column;
   align-items: center;
   justify-content: center;
}


.home{
  width:100vw;
  display:flex;
  justify-content: center;
  position: relative;
}
.linkShow{
  display:none !important;
}
.liLink{
  display:block !important;
}

@media (min-width:768px) {
  .linkShow{
    display:block !important;
  }
  .liLink{
    display:none !important;
  }
  .liLinkResponsive{
    display:block !important;
  }
 .ham{
     display:none !important;
 } 
 .t{
  display:none !important;
 }
 .ul{
   width:100vw;
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
  flex-wrap: nowrap; 
  overflow-x: auto;
  list-style: none;
}


}