.Footer{
  padding: .5rem;
  /* position: relative;
  top: 100px; */
  background:var(--layout-color);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1{
    display: flex;
    align-items: center;
    font-size:1.2rem;
    color: var(--logo-color)
}
.p{
    font-size:0.55rem;
    color: #eee;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.li{
    font-size:0.8rem;
    display:flex;
    color: #eee;
    align-items: center;
    justify-content:center;
}

.tag{
    width:100vw;
    padding: .5rem;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.fade{
    display:flex;
    align-items: center;
    justify-content:center;
    font-size:0.8rem;
    color:var(--color-grey-300)
}

.small{
    font-size:0.55rem;
    color:var(--color-grey-300)
}
.name{
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center !important;
    align-items: center !important;
}



@media (min-width: 768px) {
    .Footer{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: 100px;
        padding:2rem;
      } 

      .tag{
        width:100vw;
        padding: .5rem;
        display:flex;
        justify-content:space-evenly;
        align-items: center;
    }
    .h1{
        font-size:1.5rem;
    }
    .p{
        width:100%;
        display:flex;
        justify-content:center;
        align-items: center;
        font-size:0.8rem;
    }
    .name{
        width:50%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
    }
    .small{
        text-align:center;
    }
}