.featured{
    position: relative;
    top:100px;
    padding: 1rem;
}
.grid{
display:flex;
flex-direction: column;
align-items: center;
justify-content:center;
}

@media (min-width:768px) {
 .grid{
    display:flex;
    flex-direction: row;
   align-items: center;
   justify-content:space-around;
   flex-wrap: nowrap; 
    overflow-x: auto;

}   
}