.main_Container{
    position: relative;
    top:66px;
    padding:1rem;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
 
 
}
.ul{
    padding:0.5rem;
    width:100%;
    display:flex;
    flex-direction: column;
}

.post{
    width:100%;
}


.anything{
    height: 150px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-start;
}
.tag{
    display: flex;
    align-items: flex-start;
    border-radius: 10px;
    width: 250px;
    height: 100px;
    padding:.5rem;
    background: var(--card-background);
    margin-bottom: 2.69rem;
}


.footer{
    background:green;
    height: 350px;
    /* height: auto; */
    /* width:100vw; */
    /* height: 250px;
    /* background: blue; */
}



.about{
    font-size:0.75rem;
    display: flex;
    flex-direction: column;
    width:100%;
    padding:0.2rem 0;
    align-items:center;
    justify-content:center;
    margin-bottom: 0.9rem;
}


@media (min-width:1024px) {
    .main_Container{
    display:flex;
    flex-direction: row;
    align-items:flex-start !important;
    justify-content:space-around !important;
    }
    

    .post{
        overflow: hidden;
        width:70%;
    }
  
    .anything{
        width:30%;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content:flex-start;
    }
   .tag{
       padding: 0.7rem;
       border-radius: 10px;
       width: 100%;
       height: 150px;
       background: var(--card-background);
       margin-bottom: 0.7rem;
   }

 }