.main_Container{
    /* position: relative;
    top:66px; */
    padding:1rem;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
 
}
.ul{
    /* padding:0.5rem; */
    width:100%;
    display:flex;
    flex-direction: column;
}

.post{
    width:100%;
}

.anything{
    width:100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-start;
}
.tag{
    border-radius: 10px;
    width: 250px;
    margin: 0 auto;
    padding:.5rem;
    background: var(--card-background);
}


.footer{
    height: 350px;

}



.about{
    font-size:0.75rem;
    display: flex;
    flex-direction: column;
    width:100%;
    padding:0.2rem 0;
    align-items:center;
    justify-content:center;
    margin-bottom: 0.9rem;
}


@media (min-width:1024px) {
    .main_Container{
        overflow-y: hidden !important;
    display:flex;
    flex-direction: row;
    align-items:flex-start !important;
    justify-content:space-around !important;
    position: relative;
    top:90px;
    /* border:1px solid green; */
    }
   


    .post{
        overflow: hidden;
        width:70%;
    }
  
    .anything{
        width:30%;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content:flex-start;
    }
   .tag{
       padding: 0.7rem;
       border-radius: 10px;
       width: 100%;
       background: var(--card-background);
       margin-bottom: 0.7rem;
   }

 }